.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.adress {
  margin-right: 70px;

  &__logo {
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
  }
}

.footer-social {
  &__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--back-color);
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 206px;
  }
  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: var(--back-color);
  }
}

.footer-form {
  display: flex;
  margin-top: 20px;

  &__title {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--back-color);
  }

  &__input {
    width: 358px;
    height: 50px;
    padding: 16px 15px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--back-color);
    background-color: #2f303a;
  }

  &__button {
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;
    background-color: var(--accent-color);
    font-family: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--back-color);
    border: none;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
  &__icon {
    margin-left: 10px;
  }
}

.footer-wrapper {
  margin-left: 93px;
}
