.hero {
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/tel/hero/1x/Header_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-weight: 900;
    font-size: 26px;
    max-width: 360px;
    text-align: center;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--back-color);
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/tablet/hero/1x/Header_img.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/comp/hero/1x/Img.jpg);

    padding: 200px 0;

    &__title {
      font-size: 44px;
      max-width: 696px;
      line-height: 1.36;
    }
  }
}

// .hero {
//   max-width: 1600px;
//   height: 600px;
//   background-color: #2f303a;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url('../../img/tel/hero/1x/Header\ img.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding: 200px 0;
//   text-align: center;
//   margin-left: auto;
//   margin-right: auto;

//   &__title {
//     font-weight: 900;
//     font-size: 44px;
//     max-width: 696px;
//     text-align: center;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--back-color);
//     margin: auto;
//   }
// }
