.team {
  background-color: var(--bg-item-color);

  &__list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__item {
    flex-basis: calc(100% / 4-30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 270px;
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__description {
    text-align: center;
    padding: 30px 32px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  &__position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
  }
}
