.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 480px;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  overflow-y: auto;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__icon {
    width: 19px;
    height: 19px;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 64px;

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);

    &--current {
      color: var(--accent-color);
    }
  }
}
.mobile-contact {
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__tel {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  &__mail {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
}

.mobile-social {
  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    &:not(:last-child):after {
      display: block;
      content: ' ';
      position: absolute;
      width: 1px;
      top: 0;
      right: -10px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: var(--accent-color);
  }
}

.burger-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.burger-button__icon {
  width: 24px;
  height: 16px;
}
.mobile-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  transform: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-button {
    display: none;
  }
}

// .mobile-nav {
//   margin-bottom: 302px;

//   &__item:not(:last-child) {
//     margin-bottom: 32px;
//   }
//   &__link {
//     font-family: var(--main-font);
//     font-weight: 500;
//     font-size: 40px;
//     line-height: 1.17;
//     text-align: center;
//     letter-spacing: 0.02em;
//     color: var(--title-color);

//     &--current {
//       color: var(--accent-color);
//     }
//   }
// }

// .mobile-contact {
//   margin-bottom: 64px;

//   &__item:not(:last-child) {
//     margin-bottom: 32px;
//   }

//   &__tel {
//     font-family: var(--main-font);
//     font-weight: 500;
//     font-size: 34px;
//     line-height: 1.17;
//     letter-spacing: 0.02em;
//     color: var(--accent-color);
//   }

//   &__mail {
//     font-family: var(--main-font);
//     font-weight: 500;
//     font-size: 24px;
//     line-height: 1.16;
//     letter-spacing: 0.02em;
//     color: var(--text-color);
//   }
// }
