.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--back-color);
    }
  }
  &__icon {
    fill: currentColor;
    transition: fill 250ms var(--timing-function);
  }
}
