:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --back-color: #fff;
  --icon-color: #afb1b8;
  --container-width: 1200px;
  --title-mb: 50px;
  --container-pl: 15px;
  --container-pr: 15px;
  --link-pt: 32px;
  --link-pb: 32px;
  --bg-item-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
